.top-banner {
  width: 100%;
  padding: 5px 0;
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  z-index: 1500;
  top: 0;
}
/* logo container */
.top-banner .logo-container {
  width: 200px;
}
.top-banner .logo-container img {
  width: 120px;
  display: block;
  margin: 0 auto 0 0;
}
/* search */

.top-banner .search-code {
  width: 40%;
  max-width: 500px;
}

@media (max-width: 1016px) {
  .top-banner .search-code {
    width: 280px;
  }
}
.top-banner .link-container {
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.top-banner > div {
  margin: 0 20px;
}

.top-banner > div:hover {
  color: grey;
  cursor: pointer;
}

.light-red-color-bc {
  background-color: #f8f7f3;
}

.logo-container {
  display: block;
  margin-top: 60px;
}

.logo-container .slogan {
  width: 250px;
  margin: 10px auto 0 auto;
  display: block;
  opacity: 0;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

.logo-container .logo {
  display: block;
  margin: 0px auto;
  width: 100%;
  max-width: 350px;
  min-width: 250px;
}
.navbar {
  padding: 10px;
}
.navbar ul {
  display: flex;
  justify-content: space-around;
}

.navbar ul li {
  display: inline-block;
}

.navbar a {
  text-decoration-line: none;
  color: white;
  padding: 10px 20px;
  transition: 0.5s ease-in-out;
}

.navbar a:hover {
  color: rgb(227, 227, 227);
}

.top-banner > div a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*login area*/

.login-area a {
  text-transform: capitalize;
}

/*my account navbar*/

.profile-trigger {
  position: relative;
}
.top-banner .dashicons-heart {
  font-size: 20px !important;
}
.my-account-nav {
  background-color: #f8f7f3;
  width: 150px;
  display: none;
  position: absolute;
  z-index: 1005;
}

.my-account-nav ul {
  list-style: none;
}

.profile-name-value:hover {
  color: #525659;
}
.profile-name-value .dashicons-admin-users {
  font-size: 20px !important;
}

.my-account-nav li a {
  padding: 10px 30px 10px 10px;
  display: block;
}

.my-account-nav li a:hover {
  color: #525659;
}

.my-account-nav a {
  text-decoration: none;
  color: #ee6869;
}

/*cart */

.shopping-cart a:hover {
  color: #525659;
}

/*wishlist */

.wishlist a:hover {
  color: #525659;
}

/*search bar*/

.mCS-dark-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #ee6869 !important;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

@media (max-width: 900px) {
  .top-banner {
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center !important;
    flex-wrap: wrap;
    width: 100% !important;
  }
  .top-banner > div {
    margin: 0 5px;
  }

  .top-banner .search-code {
    width: 100% !important;
    margin-top: 10px;
  }
  .mega-toggle-animated-inner,
  .mega-toggle-animated-inner::after,
  .mega-toggle-animated-inner::before {
    background-color: #333 !important;
  }
  .mega-menu-link {
    background: rgb(241, 241, 241) !important;
    color: #333 !important;
  }
  /* .top-banner .shopping-cart {
    position: absolute;
    top: 0;
    z-index: 1003;
    right: 0;
  } */

  #mega-menu-wrap-inspiry_main_menu .mega-menu-toggle {
    background: none;
  }

  .top-banner .desktop-visible {
    display: block;
  }

  .top-banner .mobile-visible {
    display: none;
  }
  .header .search-code {
    position: absolute;
    height: auto;
    width: 120px;
    border-left: none;
    border-right: none;
    top: 75px;
    display: none;
  }
  .top-banner .logo-container {
    width: 120px;
  }
  .header .link-container {
    width: 220px;
  }
  .header .logo-container .slogan {
    display: none;
  }
  .navbar {
    position: relative;
  }
  #mega-menu-wrap-top-navbar {
    display: none;
  }
  #mega-menu-wrap-inspiry_main_menu {
    position: absolute;
    right: 0;
    height: auto;
    top: -45px;
    left: 10px;
    right: 0;
    margin: 0 0 0 auto;
    z-index: 1000;
    width: 100%;
  }
  #mega-menu-wrap-inspiry_main_menu .mega-menu-toggle .mega-toggle-block {
    justify-content: flex-start !important;
    align-items: flex-start;
  }
  #mega-menu-inspiry_main_menu {
    width: 100% !important;
  }
  .sidebar .is-search-form {
    display: none;
  }
}

@media (max-width: 375px) {
  .top-banner .logo-container {
    width: 120px;
    margin: 0 auto;
  }
  .header .link-container {
    width: 220px;
    margin: 10px auto;
  }
  .header .search-code {
    top: 135px;
    width: 50px;
    display: none;
  }
  .top-banner {
    flex-direction: column !important;
  }
}
